Django==2.2.9
# Installs: django-mongoengine==0.2.1
https://github.com/MongoEngine/django-mongoengine/tarball/v0.2.1#egg=django-mongoengine-0.2.1
djangorestframework==3.9.1
requests==2.20.0
djangorestframework-xml==1.4.0